#node {
  text-align: left;
}

#brand {
  width:100%;
  float:left;
  text-align: center;
  padding:20px;
}

.fixedCategories {
  width:100%;
  margin-bottom:20px;
  float:left;
}

.categoriesTitle {
  width:100%;
  float:left;
  padding:10px;
}

.categoryList {
  float:left;
  width:100%;
  min-height: 60vh;
  overflow-y:scroll;
  margin-bottom:20px;
}

.categoryContainer {
  width:100%;
  float:left;
}

.rootWrapper {
  width:100%;
  float:left;
  padding:10px;
  cursor:pointer;
}

.category:hover .edit {
  display:inherit;
}

.root {
  width: calc(100% - 55px);
  float:left;
}

.dropdown {
  width: fit-content;
  margin-right:7px;
  float:left;
  font-size:11px;
}

.edit {
  display:none;
  float:right;
}
 .childContainer {
   width: 100%;
  float: left;
 }

.childWrapper {
  float: left;
  width: 100%;
  padding: 10px 10px 10px 50px;
  cursor: pointer;
}

.darkHover:hover {
  background-color: #ffffff08;
}

.lightHover:hover {
  background-color: #d2d2d226;
}

.child {
  width:calc(100% - 55px);
  float:left;
}

.hidden {
  height:0px;
  overflow:hidden;
}

.selectedDark {
  background-color: #ffffff15;
  border-left:1px solid white;
}

.selectedDark:hover {
  background-color: #ffffff15 !important;
}

.selectedLight {
  background-color: #6f6f6f21;
  border-left:1px solid black;
}

.selectedLight:hover {
  background-color: #6f6f6f21 !important;
}

.addContainer {
  width:100%;
  float:left;
}

.add {
  cursor:pointer;
  padding:10px;
}

.delete {
  visibility:hidden;
}
