.viewContent {
  background-color: white;
  width: 100%;
  float: left;
}

.portrait {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 170px;
}

.viewTitle {
  text-align: left;
  padding: 0px 30px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.viewDescription {
  max-height: 300px;
  overflow: scroll;
  padding: 0px 30px;
  margin: 15px 0px;
  text-align: justify;
}

.viewDescription::-webkit-scrollbar-track {
  display: none
}

.viewDescription::-webkit-scrollbar {
    width: 7px;
}

.viewDescription::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  border-radius: 20px;
}
